@import "reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Yeyey";
    src: url("../assets/fonts/Yeyey.otf");
}

* {
    font-family: 'Ubuntu', sans-serif !important;
}

#app {
    @apply fixed inset-0 overflow-auto;
    background-color: #f2e8f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yeyey" !important;
}

h1 {
    -webkit-text-stroke: 1px black;
}

.btn {
    @apply px-2 py-1 bg-secondary text-white rounded-lg font-bold;
    &:disabled {
        @apply bg-grey;
    }
}

.btn-icon {
    @apply w-16 rounded-full bg-white flex items-center justify-center;
    @media (min-width: 768px) {
        @apply p-2 w-24;
    }
    //filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.8));
    &:disabled {
        filter: none;
        img {
            opacity: 0.25;
        }
    }
    img {
        transition: all 0.1s linear;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
    }
    img:hover {
        transform: scale(1.2) rotate(2deg);
    }
}

input, textarea {
    @apply block p-2 border-2 border-primary rounded-lg;
    outline: none !important;
    &:focus {
        @apply border-secondary;
        outline: none !important;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: all .4s;
    .btn-icon, .main-anim {
        transition: all .4s;
    }
}
.fade-enter {
    .btn-icon {
        transform: rotate(-180deg) scale(0);
    }
    .main-anim {
        opacity: 0;
    }
}
.fade-leave-to {
    .btn-icon {
        transform: rotate(180deg) scale(0);
    }
    .main-anim {
        opacity: 0;
    }
}
